body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-color: #262523;
    margin: 0;
}
body .header{
    position: relative;
    background-size: cover;
    text-align: center;
    background-position: top;
    left: -1.4%;
    width: 102%;
}
.mainLogoOfTheShop {
    padding: 3%;
    margin-top: -2.7vh;
    margin-bottom: -3%;
}
.userAccount {
    width: 24px;
    position: absolute;
    top: 35px;
    right: 70px;
}

nav ul {
    font-family: Cormorant Garamond;
    list-style-type: none; 
    text-align: center;
}
li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.headernav {
    height: 22vh;
    background-color: rgba(255, 255, 255, 0.887);
    color: rgb(0, 0, 0); 
}
.dropdown {
    margin-right: 15%;
    font-size: 21px;
    position: relative;
    display: inline-block;
}
li a:visited {
    color: rgb(0, 0, 0);
}



body {
    background-color: #262523;
}

.catalog {
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 5vh;
}
.product {
    padding-left: 17px;
    padding-top: 29px;
    width: 52vh;
    height: 60vh;
    position: relative;
}
.productImg {
    overflow: hidden;
}
.product img {
    transform-origin: center center;
    transition: transform 3s ease;
    width: 100%;
    /*filter: brightness(60%); */
}
.product h2 {
    margin-top: 1vh;
    font-size: 1.2em;
}
.price {
    font-size: 1.2em;
    position: absolute;
    bottom: -4vh;
    left: 0;
    right: 0;
    padding-left: 17px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
}
.product:hover img {
    transform: scale(1.1); 
}

.product .addToCartBtn {
    position: absolute;
    bottom: 1px;
    right: 20px;
    background-color: #cbcbcb;
    color: #000000;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
}

.addToCartBtn:hover {
    background-color: white;
}
.footer p {
    color: #ffffff;
}
.footer {
    background-color: #09090976;
    width: 100%;
    padding: 5px 20px 5px 20px;
}

